---
layout: home
main-title: "R. Lisandro Amado"
ENsubtitle: "Photographer and digital creator"
ENdescription: "PAGE UNDER CONSTRUCTION"
ESsubtitle: "Fotógrafo y creador digital"
ESdescription: "PÁGINA EN CONSTRUCCIÓN"
images:
  - image_path: /img/slider/1.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/2.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/3.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/4.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/5.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/6.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/7.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/8.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/9.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/10.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/11.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/12.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/13.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/14.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/15.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/16.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/17.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/18.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/19.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/20.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/21.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/22.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/23.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/24.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/25.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/26.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/27.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/28.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/29.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/30.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/31.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/32.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/33.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/34.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/35.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/36.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/37.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/38.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/39.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/40.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/41.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/42.jpg
    gallery-folder: /img/slider/
  - image_path: /img/slider/43.jpg
    gallery-folder: /img/slider/
---


<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">

<!-- CSS -->
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/galleries.css" media="screen" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/WYSIWYG.css" media="screen" />


	<!-- Modernizr -->
  <script src="{{ site.baseurl }}/js/modernizr.js"></script>

</head>

<body class="fullscreen">
<!--LANGUAGE SELECTOR-->
  <div class="language-switcher">
    <button onclick="setLanguage('en')">English</button>
    <button onclick="setLanguage('es')">Español</button>
  </div>

<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
		<div class="wrapper">

			<!-- WYSIWYG -->

        <!--ENGLISH-->
		<div class="position-absolute" id="content-en">
				<h2 class="big no-margin"><strong>{{ page.main-title }}</strong></h2>
				<h2>{{ page.ENsubtitle }}</h2> 
                     <div class="entry-summary">
							<p>{{ page.ENdescription }}</p>
						</div><br />
			</div>
			
			<div class="gallery fullscreen-gallery kenburns-gallery">

				<canvas id="kenburns"></canvas>
				
{% for image in page.images %}  	

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
<img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
	
				</header>	
				</figure>

{% endfor %}

				</div>

          <!--ESPAÑOL-->
        <div class="position-absolute" id="content-es" display = "none">
          <h2 class="big no-margin"><strong>{{ page.main-title }}</strong></h2>
          <h2>{{ page.ESsubtitle }}</h2> 
                       <div class="entry-summary">
                <p>{{ page.ESdescription }}</p>
              </div><br />
        </div>
        
        <div class="gallery fullscreen-gallery kenburns-gallery">
  
          <canvas id="kenburns"></canvas>
          
  {% for image in page.images %}  	
  
          <figure class="gallery-item">
            <header class='gallery-icon'>
  
  <a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
  <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
    
          </header>	
          </figure>
  
  {% endfor %}
  
          </div>
			<!-- END WYSIWYG -->
			
	
		</div><!-- END .wrapper -->
		
	</section>

<div id="footer" role="contentinfo">
  <ul class="soc-icons">
    <li>
      <a href="mailto:{{ site.email }}" style="color:#dddddd;" target="_blank" title="Email">
        <i class="fa fa-envelope-o"></i>
      </a>
    </li>
    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}" style="color:#dddddd;" target="_blank" title="Github">
        <i class="fa fa-github"></i>
      </a>
    </li>
    {% endif %}
    {% if site.facebook_username %}
    <li>
      <a href="https://facebook.com/{{ site.facebook_username }}" style="color:#dddddd;" target="_blank" title="Facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    {% endif %}
    {% if site.instagram_username %}
    <li>
      <a href="https://instagram.com/{{ site.instagram_username }}" style="color:#dddddd;" target="_blank" title="Instagram">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
	</div>

  
<!-- jQuery -->
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="{{ site.baseurl }}/js/retina.min.js"></script> 

<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="{{ site.baseurl }}/js/jquery.cycle.min.js"></script>
<!-- include kenburns plugins -->
<script src="{{ site.baseurl }}/js/kenburns.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>

    <!-- JavaScript for Language Switching -->
    <script>
      function setLanguage(language) {
          const contentEn = document.getElementById('content-en');
          const contentEs = document.getElementById('content-es');
          if (contentEn && contentEs) {
              if (language === 'en') {
                  contentEn.style.display = 'block';
                  contentEs.style.display = 'none';
              } else if (language === 'es') {
                  contentEn.style.display = 'none';
                  contentEs.style.display = 'block';
              }
              // Save the selected language to localStorage
              localStorage.setItem('selectedLanguage', language);
          }
      }

      // Ensure the initial language state is set correctly
    document.addEventListener('DOMContentLoaded', function() {
        const contentEn = document.getElementById('content-en');
        const contentEs = document.getElementById('content-es');
        if (contentEn && contentEs) {
            // Hide both sections initially
            contentEn.style.display = 'none';
            contentEs.style.display = 'none';

            ({{// Get saved language or default to English
            const savedLanguage = localStorage.getItem('selectedLanguage') || 'en';
            setLanguage(savedLanguage);
        }
    });
  </script>
    </body>
    </html>

